{% extends "base.html" %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-7">
        <h3>Revisiones de Libros</h3>
        <div class="card ma-4">
            <div class="card-body">
                <h5 class="card-title">Cien agnos de Soledad</h5>
                <h6 class="card-subtitle mb-2 text-muted">Raiting: 3.4</h6>
                <p class="card-text"> <a href="#">Nicole</a>says: <i>Es necesario que lo diga? Lo amo!</i></p>
                <p><i>Sabado 4 de septiembre, 2021</i></p>
            </div>
        </div>
        <div class="card ma-4">
            <div class="card-body">
                <h5 class="card-title">Cien agnos de Soledad</h5>
                <h6 class="card-subtitle mb-2 text-muted">Raiting: 3.4</h6>
                <p class="card-text"> <a href="#">Nicole</a>says: <i>Es necesario que lo diga? Lo amo!</i></p>
                <p><i>Sabado 4 de septiembre, 2021</i></p>
            </div>
        </div>
        <div class="card ma-4">
            <div class="card-body">
                <h5 class="card-title">Cien agnos de Soledad</h5>
                <h6 class="card-subtitle mb-2 text-muted">Raiting: 3.4</h6>
                <p class="card-text"> <a href="#">Nicole</a>says: <i>Es necesario que lo diga? Lo amo!</i></p>
                <p><i>Sabado 4 de septiembre, 2021</i></p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <h3>Otras Revisiones</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Papelucho Explorador</a></li>
            <li class="list-group-item"><a href="#">Papelucho y mi hermana Ji</a></li>
            <li class="list-group-item"><a href="#">Papelucho y el marciano</a></li>
          </ul>
    </div>
</div>


{% endblock %}
{% block libreria %}
{% endblock %}