{% extends "base.html" %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<a href="/revision">Add Book and Review</a>

<div class="container">
    {% for review in reviews %}
    <div class="row">
        <div class="col-9">
            <h2>{{review.book.title}}</h2>
            <h4>Autor:{{review.book.author.name}}</h4>
            <h5>{{review.text}}</h5>
            <h5>User: {{review.user.name}}</h5>
        </div>
    </div>
    {% empty %}
        No existen libros
    {% endfor %}

</div>

{% endblock %}
{% block libreria %}
{% endblock %}